$main-color: #133149;
$secondary-color: #22A49C;
$accent-color: #CE0071;
$accent-sec-color: #FFA445;
$color: #adb5bd;
$border-menu: #327096;
$border-sun-menu: #3383C4;
$bg-sub-menu: #225885;
$gray:  #AFBFCC;
